<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                    <title>Carpe Diem Travels</title>
                    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                        <script src="https://kit.fontawesome.com/77b2fa8649.js" crossorigin="anonymous"></script>
                        <link rel="stylesheet" href="css/main.css">
                            <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
                                <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

                                    </head>
                                    <body>
                                        <header>
                                            <h1 class="jumbotron" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);" id="header">Carpe Diem Travels ✈️</h1>
                                        </header>   

                                            <div class="container"style="background: white">
                                            <hr/>
                                            <div class="navbar">
                                                <ul class="nav nav-tabs">
                                                    <li role="home" class="nav-item">
                                                        <a class="nav-link" href="home">
                                                            Home
                                                        </a>
                                                    </li>
                                                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                                                        <li role="post-admin" class="nav-item">
                                                            <a class="nav-link" href="admin-post">
                                                                Post
                                                            </a>
                                                        </li>
                                                    </div>
                                                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                                                        <li role="pending-posts" class="nav-item">
                                                            <a class="nav-link" href="pending-posts">
                                                                Pending Posts
                                                            </a>
                                                        </li>
                                                    </div>
                                                    <div sec:authorize="hasRole('ROLE_CONTENTMANAGER')">
                                                        <li role="post-employee" class="nav-item">
                                                            <a class="nav-link" href="employee-post">
                                                                Post
                                                            </a>
                                                        </li>
                                                    </div>
                                                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                                                        <li role="user-management" class="nav-item">
                                                            <a class="nav-link" href="user-management">
                                                                User Management
                                                            </a>
                                                        </li>
                                                    </div>
                                                    <li role="categories" class="nav-item">
                                                        <a class="nav-link active" href="categories">
                                                            Categories
                                                        </a>
                                                    </li>
                                                    <div th:each="post : ${Static}"
                                                         <li role="static" class="nav-item">
                                                            <a class="nav-link" th:href="@{/static(id=${post.postId})}" th:text="${post.title}">
                                                            </a>
                                                        </li>
                                                    </div>
                                                </ul>
                                                <div sec:authorize="isAuthenticated()">
                                                    <form class="form-inline" 
                                                          method="POST" 
                                                          action="/logout">
                                                        <input type="hidden" 
                                                               th:name="${_csrf.parameterName}" 
                                                               th:value="${_csrf.token}"/>
                                                        <label for="submit">
                                                            Hello : <span th:text="${#authentication.name}">
                                                            </span>&nbsp;&nbsp;&nbsp;|
                                                        </label>
                                                        <button class="btn btn-link" 
                                                                id="submit" 
                                                                type="submit">Logout</button>
                                                    </form>
                                                </div>
                                                <div sec:authorize="!isAuthenticated()">
                                                    <a th:href="@{/login}">Log in</a>
                                                </div>
                                            </div>
                                            <div sec:authorize="hasRole('ROLE_ADMIN')">
                                                <!--                            <h2>Search Tag</h2>   
                                                                            <form action="searchTag" class="form-horizontal">
                                                                                <fieldset>
                                                
                                                                                 Form Name 
                                                                                <legend></legend>
                                                
                                                                                 Text input
                                                                                <div class="form-group">
                                                                                  <label class="col-md-4 control-label" for="search"></label>  
                                                                                  <div class="col-md-4">
                                                                                  <input id="search" name="search" type="text" placeholder="Search" th:value="*{search}" class="form-control input-md" required="">
                                                                                  <a type="submit" value="search" th:href="@{/show-tagged(tag=*{search})}" class="btn btn-primary">Submit</a>
                                                                                  </div>
                                                                                </div>
                                                
                                                                                 Button 
                                                                                <div class="form-group">
                                                                                  <label class="col-md-4 control-label" for="submit"></label>
                                                                                  <div class="col-md-4">
                                                                                    <a type="submit" value="Search" th:href="@{/show-tagged(tag=${search})}" class="btn btn-primary">Submit</a>
                                                                                  </div>
                                                                                </div>
                                                
                                                                                </fieldset>
                                                                            </form>
                                                                            <hr/>-->
                                                <h2 style="color:black">Add A Category:</h2>
                                                <form action="addCategory" class="form-horizontal" method="POST">
                                                    <input type="hidden" 
                                                           th:name="${_csrf.parameterName}" 
                                                           th:value="${_csrf.token}"/> 
                                                    <fieldset>

                                                        <!-- Form Name -->
                                                        <legend></legend>

                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="addCategory"></label>  
                                                            <div class="col-md-4">
                                                                <input id="description" name="description" type="text" placeholder="Name A Category" class="form-control input-md" required="" maxlength="50">

                                                            </div>
                                                        </div>

                                                        <!-- Button -->
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="submit"></label>
                                                            <div class="col-md-4">
                                                                <button id="submit" name="submit" class="btn btn-primary">Add Category</button>
                                                            </div>
                                                        </div>

                                                    </fieldset>
                                                </form>
                                            </div>
                                            <hr/>
                                            <h2>Select a Category:</h2>
                                            <hr/>
                                            <form class="form-horizontal">
                                                <fieldset>

                                                    <!-- Form Name -->
                                                    <legend></legend>

                                                    <!-- Select Basic -->
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="selectCategories">Select Categories</label>
                                                        <div class="col-md-4">
                                                            <tr th:each="category : ${categories}">
                                                                <li><a href="#" th:href="@{/show-category(id=${category.categoryId})}" th:text="${category.description}"></a>
                                                                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                                                                        <span>(</span>
                                                                        <a href="#" th:href="@{/editCategory(id=${category.categoryId})}">Edit</a>
                                                                        <span>|</span>
                                                                        <a href="#" th:href="@{/deleteCategory(id=${category.categoryId})}">Delete</a>
                                                                        <span>)</span>
                                                                    </div>
                                                                </li>    
                                                            </tr>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </form>
                                        </div>    


                                        <!-- link cdn to bootstrap, jquery, popper -->
                                        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                                                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                                        crossorigin="anonymous"></script>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                                                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                                        crossorigin="anonymous"></script>
                                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                                                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                                        crossorigin="anonymous"></script>

                                    </body>
                                    </html>
