<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                    <title>Carpe Diem Travels</title>
                    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                        <script src="https://kit.fontawesome.com/77b2fa8649.js" crossorigin="anonymous"></script>
                        <link rel="stylesheet" href="css/main.css">
                            <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
                                <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

                                    </head>
                                    <body>
                                        <h1 class="jumbotron" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);" id="header">Carpe Diem Travels ✈</h1>
                                        </header>   
                                        <div class="container">
                                            <h2>Login Page</h2>

                                            <hr/>

                                            <h3 th:if="${#request.getParameter('login_error') == '1'}">
                                                Wrong id or password!</h3>

                                            <form class="form-horizontal" 
                                                  role="form" 
                                                  method="post" 
                                                  action="login">
                                                <div class="form-group">
                                                    <label for="username" class="col-md-4 control-label">Username:</label>
                                                    <div class="col-md-8">
                                                        <input type="text" 
                                                               class="form-control" 
                                                               id="username"
                                                               name="username" 
                                                               placeholder="Username" required="" maxlength="50"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password" class="col-md-4 control-label">Password:</label>
                                                    <div class="col-md-8">
                                                        <input type="password" 
                                                               class="form-control" 
                                                               id="password"
                                                               name="password" 
                                                               placeholder="Password" required="" maxlength="25"/>
                                                    </div>
                                                </div>
                                                <input type="hidden"                        
                                                       th:name="${_csrf.parameterName}"
                                                       th:value="${_csrf.token}"/>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="signin"></label>
                                                    <div class="col-md-4">
                                                        <button id="signin" name="signin" class="btn btn-primary">Sign In</button>
                                                    </div>
                                                </div>
                                        </div>
                                        </form>    
                                        </div>


                                        <!-- link cdn to bootstrap, jquery, popper -->
                                        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                                                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                                        crossorigin="anonymous"></script>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                                                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                                        crossorigin="anonymous"></script>
                                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                                                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                                        crossorigin="anonymous"></script>

                                    </body>
                                    </html>
